<head>
    <meta charset="UTF-8">
    <title>Activities - {{ category }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>{{ category }}</h1>
        <ul>
            {% for activity in activities %}
                <li>
                    <img src="{{ activity.image }}" alt="{{ activity.name }}" class="activity-image">
                    <h2>{{ activity.name }}</h2>
                    <p>Location: {{ activity.location }}</p>
                    <p>{{ activity.description }}</p>
                    <a href="{{ activity.url }}" target="_blank">Learn More</a>
                </li>
            {% endfor %}
        </ul>
        <a href="/">Go Back</a>
    </div>
</body>