@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Doto:wght@100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Archivo;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

h1 {
    color: #000;
    margin-bottom: 20px;
}

/* Container */
.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 2px 3px 3px 2px #ff0f0f;
}

select, button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

select {
    background-color: #fafafa;
}


button {
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #eb7d7d;
}

/* Activity List */
ul {
    list-style-type: none;
    padding: 0;
    
}

li {
    margin: 15px 0;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h2 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

p {
    color: #666;
    margin: 5px 0;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.activity-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}

.Bio_url{
    color: #ff0f0f;
}

.Bio_url:hover{
    text-decoration: underline;
    color: #d66c6c;
}